@use "./var";

section.Weather {
    height: 70%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr); 
    article {
        &.div1 { grid-area: 1 / 1 / 2 / 7; }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    section.Weather {
        height: 80%;
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    section.Weather {
        height: 70%;
    }
}